.card-title {
  font-family: var(--font-title);
  text-align: center;
  font-size: 70px;
  padding-bottom: 30px;
}

.card-description {
  max-width: 800px;
  text-align: center;
  font-size: 23px;
  padding-bottom: 30px;

  /* border: 1px solid black; */
}
